<h2><%= @page.title %></h2>

<div class="banner"><%=raw @page.content_for(:banner) %></div>

<p><%=raw @page.content_for(:body) %></p>
<div class="product-page tab-control">
<% if @page.title == 'Product Designing'%>
	<ul class="nav nav-tabs">
		<li class="active"><a href="#zero" data-toggle="tab"><img src="/assets/product/1.png"></a></li>
		<li><a href="#one" data-toggle="tab"><img src="/assets/product/2.png"></a></li>
		<li><a href="#two" data-toggle="tab"><img src="/assets/product/3.png"></a></li>
		<li><a href="#three" data-toggle="tab"><img src="/assets/product/4.png"></a></li>
		<li><a href="#four" data-toggle="tab"><img src="/assets/product/5.png"></a></li>
		<li><a href="#five" data-toggle="tab"><img src="/assets/product/6.png"></a></li>
		<li><a href="#six" data-toggle="tab"><img src="/assets/product/7.png"></a></li>
		<li><a href="#seven" data-toggle="tab"><img src="/assets/product/8.png"></a></li>
	</ul>
	
	<!-- Tab panes -->
	<div class="tab-content">
		<div class="tab-pane active" id="zero">
			<h2>Conceptual Product Development<h2>
			<p>
				Transforming client ideas, needs, and challenges into innovative, marketable products is what drives us. The challenge for us at Cosire is to convert a client’s concept/idea/patent into an attractive, useful and product. Very often, this process ends-up in the creation of an out-of-the-box intellectual property / patent!
			</p>
		</div>
		<div class="tab-pane" id="one">
			<h2>Product Exterior Styling<h2>
			<p>
				You can always tell a Cosire product simply by its appearance and sensory experience. Many-a- times a product functions well, but is not very attractive in terms of its aesthetic look and feel. That’s a shame because often a small graphical tweak, the color on the pack or the material chosen can give a complete make-over to a product. Cosire can make it presentable enough to compete with leading domestic / international companies and bring it on a strong footing.
			</p>
		</div>
		<div class="tab-pane" id="two">
			<h2>Design for Ergonomic Interventions</h2>
			<p>
				Everyone makes products that humans interact with.
			</p>
			<p>
				Products are supposed to SIMPLIFY our tasks, not amplify our problems.
			</p>
			<p>
				At Cosire, we make sure that your consumer is delighted with your product. In this context, we have experience and expertise of working on:
			</p>
			<ul>
				<li>Hand-held ergonomics</li>
				<li>Cognitive ergonomics</li>
				<li>Space ergonomics</li>
			</ul>
		</div>
		<div class="tab-pane" id="three">
			<h2>Display and Control Design</h2>
			<p>
				A product that can only be used with a manual is of no good to a user.
			</p>
			<p>
				If a product is too complex or hard to use for a first time user, we redesign interfaces to simplify its use.
			</p>
			<p>
				Applying user psychology and by doing some field research, we decode a consumer’s gut use of a product. Than applying the principle of empathy, we redesign display and controls to make the product accessible to a first time user.
			</p>
		</div>
		<div class="tab-pane" id="four">
			<h2>Life Style and Accessories Design</h2>
			<p>
				Living in an era where glamour and lifestyle define a consumer’s station in life, we are able to add personality and character to an exclusive range of stylized products such as jewelry (Both classical and contemporary) and accessories such as watches, handbags, bed linens, exquisitely-crafted lamps, chandeliers etc. Employing our strong aesthetic sense and intimate knowledge of various material and processes, we are able to design accessories to match specific segments of users.
			</p>
		</div>
		<div class="tab-pane" id="five">
			<h2>Product Graphics</h2>
			<p>
				Product graphics transcend attractive labels and stickers. At Cosire we can produce stunning product graphics that are textured, reflective, and 3D. So whether your product is big as a house or small as a watch, we can deliver the perfect graphic solution that is guaranteed to get your product noticed. Product image is what makes your product complete. We provide end-to-end solutions, starting from graphic design to printing and logistics.
			</p>
		</div>
		<div class="tab-pane" id="six">
			<h2>Prototyping Services</h2>
			<p>
				We  develop  working prototype of a design before full development in order to let you have a complete sense and feel of the end product. This also helps us do course-corrections, if needed. Prototypes range from rough paper sketches to interactive simulations that work as good as the end product. The key to successful prototyping is the ability to recall the design from the drawing board and improvise quickly based on the feedback received. Rapid prototyping saves time and wasteful expenditure on products that are not expected to be successful in the market. It helps accomplished design teams experiment with multiple approaches and ideas and facilitates discussion through visuals instead of words. It finally ensures that everyone is on the same page and reduces risk and costly recalls, leading to more cost-effective well-designed product outcomes.
			</p>
			<p>
				We have experience of working on latest prototyping technologies, such as
			</p>
			<ul>
				<li>CNC Machining</li>
				<li>3D Printing (Fused deposition modeling)</li>
				<li>Metal RPT</li>
				<li>Water jet cutting and wire cutting and more</li>
			</ul>
		</div>
		<div class="tab-pane" id="seven">
			<h2>Patent Filing / Design Registration</h2>
			<p>
				Often as a natural corollary to the intensive design process, many unanticipated intellectual properties get produced. Understanding their true worth and market value, we provide all the necessary support to the client in drafting and filing for IP.  As a responsive design hub, we assist clients in filing their patent/design-registration applications. A design patent protects the unique, non-functional appearance of a manufactured item and grants you the right to prevent others from aping your product features; using, re-engineering, selling or importing items without your knowledge or consent. We can help you legally label your design with "patent pending" tag, while your application is still pending.
			</p>
		</div>
	</div>
	
</div>
<% end %>



<% if @page.title == 'Team'%>
<hr>
<div class="team">
<div class="row">
	

<h2>Team Cosire</h2>
<div class="team-profiles">
	<% @teammembers.each do |teammember| %>
	
		<div class="col-md-6 team-member">
				<div class="photo col-md-4">
					
					<div class="hover-image">	
						<%= image_fu teammember.hover_image, "160x200" %>
					</div>
					<div class="normal-image">
						<%= image_fu teammember.profile, "160x200" %>
					</div>
				</div>
				
				<div class="profile col-md-8">
					<h3><%=raw teammember.name %></h3>
					<p class="designation"><%=raw teammember.designation %></p>
					<p><%=raw teammember.description %></p>
				</div>
		</div>
		<% next teammember %>
		
		<div class="col-md-6 team-member">
				<div class="photo col-md-4">
					
					<div  class="hover-image">	
						<%= image_fu teammember.hover_image, "160x200" %>
					</div>
					<div class="normal-image">
						<%= image_fu teammember.profile, "160x200" %>
					</div>
				</div>
				
				<div class="profile col-md-8">
					<h3><%=raw teammember.name %></h3>
					<p class="designation"><%=raw teammember.designation %></p>
					<p><%=raw teammember.description %></p>
				</div>
		</div>
	
	<% end %>
	</div>
	</div>
</div>

<hr>
<div class="advisors-board row">
<h2>Board of Advisors</h2>

	<% @boas.each do |boa| %>

		<div class="col-md-6 team-member">
				<div class="photo col-md-4">
					<%= image_fu boa.profile, "160x200" %>
				</div>

				<div class="profile col-md-8">
					<h3><%=raw boa.name %></h3>
					<p class="designation"><%=raw boa.designation %></p>
					<p><%=raw boa.description %></p>
				</div>
		</div>
		<% next boa %>

		<div class="col-md-6 team-member">
				<div class="photo col-md-4">
					<%= image_fu boa.profile, "160x200" %>
				</div>

				<div class="profile col-md-8">
					<h3><%=raw boa.name %></h3>
					<p class="designation"><%=raw boa.designation %></p>
					<p><%=raw boa.description %></p>
				</div>
		</div>
	</div>
	<% end %>
</div>




<% end %>



<% if @page.title == 'Vision'%>

<div class="container vision">
	<div class="col-md-3">
		<%= image_tag('vision/1.png') %>
		<h2>Vision</h2>
		<p>We want to accelerate businesses with our design intervention and help our clients compete 
with established national and international players. We strive to be an important part of 
creative economy.</p>
	</div>

	<div class="col-md-3">
		<%= image_tag('vision/2.png') %>
		<h2>Mission</h2>
		<p>Making design viable for every business by providing then one-stop design solution.</p>
	</div>

	<div class="col-md-3">
		<%= image_tag('vision/3.png') %>
		<h2>Core Values</h2>
		<p>We enthusiastically explore different design opportunities keeping in mind our clients’ business 
requirements. We come up with original, novel, genuine concepts and never rely on design 
ripped off from others in the name of inspiration.</p>
	</div>

	<div class="col-md-3">
		<%= image_tag('vision/4.png') %>
		<h2>Phillosophy</h2>
		<p>We believe “growth” is a natural extension of our work. Our services transfer real value to 
clients and help them grow. It’s a win-win strategy – when our clients grow, we grow with them. Hands-on, we learn by co-working; by trying out exciting new things and learning by 
doing.</p>
	</div>
</div>

<% end %>


<% if @page.title == 'Work'%>

<style>

.isotope-item {
	z-index: 2;
}

.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}

						.isotope,
.isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
		 -moz-transition-duration: 0.8s;
			-ms-transition-duration: 0.8s;
			 -o-transition-duration: 0.8s;
					transition-duration: 0.8s;
}

.isotope {
	-webkit-transition-property: height, width;
		 -moz-transition-property: height, width;
			-ms-transition-property: height, width;
			 -o-transition-property: height, width;
					transition-property: height, width;
}

.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
		 -moz-transition-property:    -moz-transform, opacity;
			-ms-transition-property:     -ms-transform, opacity;
			 -o-transition-property:      -o-transform, opacity;
					transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
		 -moz-transition-duration: 0s;
			-ms-transition-duration: 0s;
			 -o-transition-duration: 0s;
					transition-duration: 0s;
}

</style>

 <section id="options" class="clearfix">
 		<ul id="filters" class="option-set clearfix options" data-option-key="filter">
 			<li><a href="#filter" data-option-value="*" class="selected">All</a></li>
 			<li><a href="#filter" data-option-value=".industrial">Industrial</a></li>
 			<li><a href="#filter" data-option-value=".brand">Branding</a></li>
 			<li><a href="#filter" data-option-value=".interaction">Interaction</a></li>
 			<li><a href="#filter" data-option-value=".space">Space</a></li>
 			
 		</ul>
 </section> <!-- #options -->

<div id="container" class="clearfix" class="container">

	<% @industries.each do |industry| %>
		
		<div class="item industrial col-md-3" data-category="industrial">
			
			<div class="photo-1">
				<%= image_fu industry.profile, "300x300" %>
			</div>
			
			<div class="photo-2">
				<%= image_fu industry.hover_image, "300x300" %>
			</div>
			
		</div>
	
	<% end %>
	
	<% @brands.each do |brand| %>
		
		<div class="item brand col-md-3" data-category="brand">
		
			<div class="photo-1">
				<%= image_fu brand.profile, "300x300" %>
			</div>
			<div class="photo-2">
				<%= image_fu brand.hover_image, "300x300" %>
			</div>
			

		</div>
	
	<% end %>
	
	<% @spaces.each do |space| %>
		
		<div class="item space col-md-3" data-category="space">
		
			<div class="photo-1">
				<%= image_fu space.profile, "300x300" %>	
			</div>
			<div class="photo-2">
				<%= image_fu space.hover_image, "300x300" %>	
			</div>
			
			
		</div>
	
	<% end %>

	<% @interactions.each do |interaction| %>

		<div class="item interaction col-md-3" data-category="interaction">
		
			<div class="photo-1">
				<%= image_fu interaction.profile, "300x300" %>	
			</div>
			<div class="photo-2">
				<%= image_fu interaction.hover_image, "300x300" %>	
			</div>
			
			
		</div>

	<% end %>
	</div>


<% end %>
